# Java / Spring Boot
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven
.mvn/
.settings/
dependency-reduced-pom.xml

# IntelliJ / VS Code
.idea/
.vscode/
*.iml

# Node modules (if frontend included)
node_modules/
npm-debug.log
yarn-error.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
